@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: white;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%
} 

.container__botao:checked~.lista-menu {
    display: block;
}

.cabecalho {
    background: linear-gradient(170deg, #5593c0, white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;
}
