@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #fc7423;
    --azul-degrade: linear-gradient:(0deg, blue, red);
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: var(--branco);
}

