.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.cabecalho {
    background: linear-gradient(170deg, #5593c0, var(--cor-de-fundo));
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.parte-esquerda {
    display: flex;
    align-items: center;
}

