.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    background: linear-gradient(90deg, var(--branco), transparent);
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, #002f52, transparent)1;
    display: none;
    position: absolute;
    top: 100%;
    width: 60vh;
    font-family: "Barlow";
    font-weight: 500;
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.cabecalho {
<<<<<<< HEAD
    background: var(--azul-claro-gradiente);
=======
    background: var(--azul-gradiente);
>>>>>>> 3efdc6024e4652d81d99eb8b0acc0f338b4587c4
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.parte-esquerda {
    display: flex;
    align-items: center;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 600;
    font-size: 20px;
    padding: 0.8em;
}

.lista-menu__item {
    padding: 1em;
}

.lista-menu__link {
    background: var(--azul);
    -webkit-text-fill-color: #00000000;
    background-clip: text;
    text-transform: uppercase;
}
