.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.lista-menu {
    background: linear-gradient(90deg, var(--branco), transparent);
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, #002f52, transparent)1;
    display: none;
    position: absolute;
    top: 100%;
    width: 37%;
    font-family: var(--fonte-principal);
    font-weight: 500;
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu {
    display: block;
}


.container__botao {
    display: none;
}

.cabecalho {
    background: var(--azul-claro-gradiente);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.parte-esquerda {
    display: flex;
    align-items: center;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 600;
    font-size: 20px;
    padding: 0.8em;
}

.lista-menu__item {
    padding: 1em;
}

.lista-menu__item:hover {
    background: linear-gradient(to right, var(--azul), transparent);
}

.lista-menu__item:hover>.lista-menu__link {
    color: var(--branco);
}

.lista-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--azul);
}